* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Inter', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    border-bottom: 1px solid #ddd;
    background-color: white;
}

.logo {
    font-size: 18px;
    font-weight: 700;
}

.nav-links a {
    margin-left: 30px;
    text-decoration: none;
    color: #888;
    font-size: 14px;
}

.nav-links a.active {
    color: hotpink;
}

.main {
    display: flex;
    height: calc(100vh - 65px);
}

.left {
    background-color: white;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left h1 {
    font-size: 36px;
    font-weight: 700;
    color: black;
}

.right {
    background-color: #555;
    color: white;
    flex: 1;
    padding: 60px;
}

.right h2 {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 20px;
}

.right p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.right a {
    color: #bfaeff; 
    text-decoration: none;
}