body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    border-bottom: 1px solid #ddd;
    background-color: white;
}

.logo {
    font-weight: 700;
    font-size: 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links li a {
    text-decoration: none;
    color: #888;
    font-weight: 400;
}

.nav-links li a.active {
    color: hotpink;
    font-weight: 400;
}

.main-content {
    display: flex;
    height: calc(100vh - 80px); 
}

.left {
    flex: 1;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left h1 {
    font-size: 40px;
    font-weight: 700;
    color: black;
}

.right {
    flex: 1;
    background-color: #555;
    color: white;
    padding: 60px;
}

.right h2 {
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: 400;
}

.right p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.right a {
    color: #bfaeff;
    text-decoration: none;
}